<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>Sri Shakthi-lodge Kanniyakumari</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='images/ram-logo.png') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='aboutus.css') }}"
    />
    <script src="https://unpkg.com/scrollreveal"></script>
    <meta name="description" content="Sri Shakthi Lodge - Best Budget Lodge in Kanyakumari. Comfortable stays, affordable rooms, and great hospitality. Book now for a relaxing stay in Kanyakumari.">
    <meta name="keywords" content="Sri Shakthi Lodge, Best Lodge in Kanyakumari, Budget Lodge Kanyakumari, Affordable Stay Kanyakumari, Tourist Lodge Kanyakumari, Family Stay Kanyakumari, AC Rooms Kanyakumari, Non-AC Rooms Kanyakumari, Hotel in Kanyakumari">
    
  </head>
  <body>
    <a href="https://wa.me/9443580902" class="whatsapp-icon" target="_blank">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
        alt="WhatsApp"
      />
    </a>
    <a href="#" class="scroll-to-top"> &#8679; </a>
    <nav>
      <div class="nav__logo">
        <img
          src="{{url_for('static',filename='/images/ram-logo.png')}}"
          alt=""
          height="100px"
          width="100px"
        /><span class="logo-text">SRISHAKTHI</span>
      </div>
      <ul class="nav__links">
        <li class="link"><a href="{{ url_for('home1') }}">Home</a></li>
        <!-- <li class="link"><a href="#">About</a></li> -->
        <li class="link"><a href="{{ url_for('rooms') }}">Rooms</a></li>
        <li class="link"><a href="{{ url_for('events') }}">Events</a></li>
        <li class="link"><a href="{{ url_for('travel') }}">Travels</a></li>
        <li class="link">
          <a href="{{ url_for('facilities') }}">Facilities</a>
        </li>
        <li class="link">
          <a href="{{ url_for('attraction') }}">Attractions</a>
        </li>
        <!-- <li class="link"><a href="#">Gallery</a></li>
      <li class="link"><a href="#">Contact Us</a></li> -->
        <li class="link" id="attractions">
          <a href="#">About</a>
          <ul class="dropdown">
            <li>
              <a href="{{ url_for('aboutus') }}"
                ><i class="fa-solid fa-arrow-right"></i> About Us</a
              >
            </li>
            <li>
              <a href="{{ url_for('gallery') }}"
                ><i class="fa-solid fa-arrow-right"></i> Gallery</a
              >
            </li>
            <li>
              <a href="{{ url_for('contact') }}"
                ><i class="fa-solid fa-arrow-right"></i> Contact Us</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <!-- Hamburger Icon -->
      <div class="hamburger" id="hamburgerIcon">
        <i class="ri-menu-line"></i>
      </div>

      <!-- Mobile Menu -->
      <div class="mobile-menu" id="mobileMenu">
        <div class="close-icon" id="closeIcon">
          <i class="ri-close-line"></i>
        </div>
        <div id="mobile-text">
          <h3>SRI SHAKTHI</h3>
          <p>
            Welcome to Sri Shakthi, your perfect choice for luxury stays,
            elegant halls, seamless travel, and memorable experiences
          </p>
        </div>
        <ul>
          <li>
            <a href="{{ url_for('home1') }}"
              >Home<i class="fa-solid fa-arrow-right"></i
            ></a>
          </li>
          <li>
            <a href="{{ url_for('aboutus') }}"
              >About<i class="fa-solid fa-arrow-right"></i
            ></a>
          </li>
          <li>
            <a href="{{ url_for('rooms') }}"
              >Rooms<i class="fa-solid fa-arrow-right"></i
            ></a>
          </li>
          <li>
            <a href="{{ url_for('events') }}"
              >Events<i class="fa-solid fa-arrow-right"></i
            ></a>
          </li>
          <li>
            <a href="{{ url_for('travel') }}"
              >Travel<i class="fa-solid fa-arrow-right"></i
            ></a>
          </li>
          <li>
            <a href="{{ url_for('facilities') }}"
              >Facilities<i class="fa-solid fa-arrow-right"></i
            ></a>
          </li>
          <li>
            <a href="{{ url_for('attraction') }}"
              >Attractions<i class="fa-solid fa-arrow-right"></i
            ></a>
          </li>
          <li>
            <a href="{{ url_for('gallery') }}"
              >Gallery<i class="fa-solid fa-arrow-right"></i
            ></a>
          </li>
          <li>
            <a href="{{ url_for('contact') }}"
              >Contact Us<i class="fa-solid fa-arrow-right"></i
            ></a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- hidden form -->
    <!-- Button to open the form -->
    <button class="open-btn" onclick="showForm()">
      <i class="fa-solid fa-envelope"></i>
      <span class="tooltip">Click to open the enquiry form</span>
    </button>

    <!-- Background overlay -->
    <div class="overlay" id="overlay"></div>

    <!-- Popup Form -->
    <!-- Popup Form -->
    <div class="popup-form" id="popupForm">
      <span class="form-close-btn" onclick="hideForm()">✖</span>
      <div class="form-container">
        <!-- Left Side: Image with Text & Social Icons -->
        <div class="form-left">
          <h2>Get in Touch</h2>
          <div class="social-icons">
            <a href="https://www.instagram.com/srishakthi_lodge/?hl=en"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a href="https://www.facebook.com/profile.php?id=61573704514696"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </div>
        </div>

        <!-- Right Side: Form -->
        <div class="form-right">
          <h2>GET IN TOUCH</h2>
          <p>Anytime, Anywhere – We're Here to Help</p>
          <form id="enquiryForm">
            <input type="text" placeholder="Name" name="name" /><br /><br />
            <input
              type="text"
              placeholder="Phone Number"
              name="phone"
            /><br /><br />
            <input type="email" placeholder="Email" name="email" /><br /><br />
            <textarea
              name="message"
              placeholder="Message"
              rows="4"
              cols="40"
              style="resize: none"
            ></textarea
            ><br /><br />
            <button type="submit">
              <i class="fa-solid fa-paper-plane"></i> Share
            </button>
          </form>
          <p id="responseMessage"></p>
        </div>
      </div>
    </div>

    <!-- head -->
    <div id="head">
      <h1>About Us</h1>
      <p>Learn more about our journey, mission, and values!</p>
    </div>
    <!-- content -->
    <section class="section__container about__container" id="about">
      <div class="about__image">
        <img
          src="https://img.freepik.com/free-vector/hand-drawn-receptionist-cartoon-illustration_23-2151046533.jpg?ga=GA1.1.654617352.1727958446&semt=ais_hybrid"
          alt="about"
        />
      </div>
      <div class="about__content">
        <p class="section__subheader">ABOUT US</p>
        <h2 class="section__header">The Best Holidays Start Here!</h2>
        <p class="section__description">
          Dedicated to excellence, we provide quality services, personalized
          experiences, and seamless solutions, ensuring a journey filled with
          confidence and satisfaction
        </p>
      </div>
    </section>

    <!-- main -->
    <div id="main">
      <div class="box">
        <i class="fas fa-bullseye"></i>
        <!-- Mission Icon -->
        <h2>Mission</h2>
        <p>
          Our mission is to provide unparalleled hospitality services by
          exceeding the expectations of our guests. We aim to create a warm and
          welcoming environment where every guest feels valued, respected, and
          cherished. We are committed to offering the highest standards of
          comfort, cleanliness, and personalized service.
        </p>
      </div>
      <div class="box">
        <i class="fas fa-eye"></i>
        <!-- Vision Icon -->
        <h2>Vision</h2>
        <p>
          Our vision is to become a trusted name in the hospitality industry by
          continuously innovating and enhancing guest experiences. We aspire to
          be recognized for our commitment to quality, excellence, and
          sustainability, ensuring every guest leaves with lasting memories.
        </p>
      </div>
    </div>
    <div id="main-choose">
      <h1>Why Choose Us?</h1>
      <div class="choose-container">
        <div class="choose-box">
          <i class="fas fa-map-marker-alt"></i>
          <h3>Prime Location</h3>
          <p>
            Located in the heart of the city, offering easy access to top
            attractions.
          </p>
        </div>
        <div class="choose-box">
          <i class="fas fa-concierge-bell"></i>
          <h3>24/7 Service</h3>
          <p>
            Our dedicated team is available round the clock for your
            convenience.
          </p>
        </div>
        <div class="choose-box">
          <i class="fas fa-star"></i>
          <h3>Luxury Experience</h3>
          <p>Enjoy world-class hospitality with top-notch amenities.</p>
        </div>
        <div class="choose-box">
          <i class="fas fa-shield-alt"></i>
          <h3>Safe & Secure</h3>
          <p>We prioritize your safety with top-tier security measures.</p>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__col">
          <!-- <img src="{{url_for('static',filename='/images/ram-logo.png')}}" alt="" height="100px" width="100px"> -->
          <h3>SRI SHAKTHI</h3>
          <p>
            Welcome to Sri Shakthi, your perfect choice for luxury stays,
            elegant halls, seamless travel, and memorable experiences
          </p>
          <p>Kanyakumari,India</p>
        </div>
        <div class="footer__col">
          <h4>Quick Links</h4>
          <p><a href="{{ url_for('aboutus') }}">About Us</a></p>
          <p><a href="{{ url_for('rooms') }}">Rooms&Suites</a></p>
          <p><a href="{{ url_for('attraction') }}">Local Attractions</a></p>
          <p><a href="{{ url_for('facilities') }}">Facilities</a></p>
          <p>
            <a href="{{ url_for('termsandcondition') }}">Terms And Condition</a>
          </p>
        </div>
        <div class="footer__col">
          <h4>Guest Services</h4>
          <p>24/7 Front Desk</p>
          <p>Parking</p>
          <p>Room Service</p>
          <p>Free Wi-Fi</p>
        </div>
        <div class="footer__col">
          <h4>Contact Us</h4>
          <p>
            <i class="fa-solid fa-location-dot"></i> 6Sundanparappu, to,
            Anjugramam Rd, near Check post,Sakthinagar, Kanniyakumari, Tamil
            Nadu 629702
          </p>
          <p><i class="fa-solid fa-phone"></i> +91 9443580902</p>
          <p id="footerp">
            <i class="fa-solid fa-envelope"></i> mail@srishakthilodge.com
          </p>
        </div>
      </div>
      <div id="qr">
        <img
          src="{{ url_for('static', filename='images/qr.jpeg') }}"
          style="height: 90px; width: 90px"
          alt=""
        />
        <p>Advance Billing Code</p>
      </div>
      <div id="social-logo">
        <a href="https://www.instagram.com/srishakthi_lodge/?hl=en"
          ><i class="fa-brands fa-instagram"></i> Insatgram |</a
        >
        <a href="https://www.facebook.com/profile.php?id=61573704514696"
          ><i class="fa-brands fa-facebook"></i> Facebook |</a
        >
        <a href=""><i class="fa-brands fa-twitter"></i> Twitter</a>
      </div>
      <div class="footer__bar">
        Copyright © 2025 SRISHAKTHI. All rights reserved
      </div>
    </footer>

    <script>
      // document.getElementById("submitBtn").addEventListener("click", function () {
      //     document.getElementById("inquiryForm").submit();
      // });

      const hamburger = document.getElementById("hamburgerIcon");
      const mobileMenu = document.getElementById("mobileMenu");
      const closeIcon = document.getElementById("closeIcon");

      // Open the mobile menu
      hamburger.addEventListener("click", function () {
        mobileMenu.style.left = "0"; // Slide in from the left
      });

      // Close the mobile menu
      closeIcon.addEventListener("click", function () {
        mobileMenu.style.left = "-100%"; // Slide out to the left
      });

      // hidden form
      function showForm() {
        document.getElementById("popupForm").style.display = "block";
        document.getElementById("overlay").style.display = "block";
        setTimeout(() => {
          document.getElementById("popupForm").classList.add("show");
        }, 50);
      }

      function hideForm() {
        document.getElementById("popupForm").classList.remove("show");
        setTimeout(() => {
          document.getElementById("popupForm").style.display = "none";
          document.getElementById("overlay").style.display = "none";
        }, 500);
      }
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let form = document.getElementById("enquiryForm");
        if (form) {
          form.addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent default form submission

            let formContainer = document.getElementById("popupForm"); // Form popup
            let overlayContainer = document.getElementById("overlay"); // Background overlay
            let formData = new FormData(form);
            let responseMessage = document.getElementById("responseMessage");

            fetch("/enquiry_form", {
              method: "POST",
              body: formData,
            })
              .then((response) =>
                response
                  .json()
                  .then((data) => ({ status: response.status, body: data }))
              )
              .then((result) => {
                if (result.status === 400) {
                  responseMessage.innerText = result.body.error;
                  responseMessage.style.color = "red";
                } else {
                  alert(result.body.message); // Show success message
                  setTimeout(() => {
                    console.log("Reloading page now...");
                    window.location.href = window.location.href;
                  }, 500);
                }
              })
              .catch((error) => console.error("Error:", error));
          });
        } else {
          console.error("Error: enquiryForm not found in DOM!");
        }
      });
      const scrollRevealOption = {
        distance: "50px",
        origin: "bottom",
        duration: 1000,
      };
      const scrollToright = {
        origin: "right",
        distance: "50px",
        duration: 1000,
      };

      const scrollToleft = {
        distance: "50px",
        origin: "left",
        duration: 1000,
      };
      ScrollReveal().reveal("#head>h1,#head>p", {
        ...scrollRevealOption,
        interval: 500,
      });
      ScrollReveal().reveal(".about__image,.box", {
        ...scrollToleft,
        interval: 500,
      });
      ScrollReveal().reveal(".about__content", {
        ...scrollToright,
        interval: 500,
      });
      ScrollReveal().reveal(".choose-box,#main-choose>h1", {
        ...scrollRevealOption,
        interval: 500,
      });
    </script>

    <script
      src="https://kit.fontawesome.com/473ad290b8.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
